@model List<U021017.Models.Products>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product</title>
</head>
<body>
    <div> 
        <h2>Product</h2>
        @Html.ActionLink("About", "About")
        @Html.ActionLink("Home", "Index");
        @Html.ActionLink("Contact", "Contact");
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    @item.Name,  kostar: @item.Price kr, Categori: @item.Category
                </li>
            }
        </ul>
    </div>
</body>
</html>
